@model Automobili.Models.Dostupnost

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dostupnost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Marka Automobila
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarkaAutomobila.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tip)
        </dd>
        <dt>
            Godina Prozvodnje
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GodinaProzvodnje)
        </dd>
        <dt>
            Benzin Dizel
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BenzinDizel)
        </dd>
        <dt>
            Broj Brzina
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BrojBrzina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kontakt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kontakt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Promjeni</a> |
    <a asp-action="Index">Natrag na listu</a>
</div>
