@model IEnumerable<Automobili.Models.Dostupnost>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Marka Automobila
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tip)
            </th>
            <th>
                Godina Prozvodnje
            </th>
            <th>
                Benzin Dizel
            </th>
            <th>
                Broj Brzina
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kontakt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MarkaAutomobila.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GodinaProzvodnje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BenzinDizel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojBrzina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kontakt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Promjeni</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
